<h1>會員登入</h1>


<%= form_for(@user, url: login_users_path) do |f| %>
  <div>
    <%= f.label :account %>
    <%= f.text_field :account, placeholder: '請輸入帳號或email' %>
  </div>
  
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit %>

<% end %>