<h1><%= @board.title %>看板</h1>
<%= link_to "新增文章", new_board_post_path(@board) %>



<table>
  <thead>
    <tr>
      <td>No.</td>
      <td>Title</td>
    </tr>
  </thead>
  <tbody>
      <% a = 1%>
      <% @board.posts.each do |post|%>
        <tr>
          <td><%= a %></td>
          <td><%= link_to post.title,'#' %></td>
        </tr>
        <% a += 1%>
      <% end %>
  
  </tbody>
</table>

<%= link_to '回到看板列表',boards_path%>

